# Encoding - Converting categorical data to numerical
1. Nominal data - OneHotEncoding and GetDummies
2. Ordinal data - When there is a hierarchy in the data, we use LabelEncoding, OrdinalEncoder, manual encoding

In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('../data/Retail.csv')
df

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code
0,McKeesport,NaN,Jessica Myrick,Small Business,0.10,1,01-01-2012,28774,High,32,...,-111.80,East,4031,180.36,02-01-2012,Regular Air,4.69,Pennsylvania,5.98,15131
1,Bowie,NaN,Matt Collister,Home Office,0.08,1,01-01-2012,13729,Not Specified,9,...,-342.91,East,1914,872.48,03-01-2012,Express Air,35.00,Maryland,95.99,20715
2,Napa,NaN,Alan Schoenberger,Corporate,0.00,1,02-01-2012,37537,Low,4,...,-193.08,West,5272,1239.06,02-01-2012,Delivery Truck,48.80,California,291.73,94559
3,Montebello,NaN,Elizabeth Moffitt,Consumer,0.08,1,02-01-2012,44069,Critical,43,...,247.79,West,6225,614.80,02-01-2012,Regular Air,1.97,California,15.04,90640
4,Napa,NaN,Alan Schoenberger,Corporate,0.07,1,02-01-2012,37537,Low,43,...,-1049.85,West,5273,4083.19,04-01-2012,Delivery Truck,45.00,California,100.98,94559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Fairfield,95.0,Tony Molinari,Corporate,0.10,1,30-12-2015,50950,Not Specified,35,...,-15.07,West,7142,448.10,30-12-2015,Express Air,4.51,California,13.48,94533
8395,Harker Heights,95.0,Matt Hagelstein,Home Office,0.09,1,30-12-2015,25542,Low,37,...,-18.66,Central,3583,257.46,30-12-2015,Express Air,4.23,Texas,7.28,76543
8396,Riverview,95.0,Theresa Swint,Consumer,0.10,1,30-12-2015,45127,Medium,10,...,-1.29,South,6361,14.15,30-12-2015,Regular Air,0.70,Florida,1.48,33569
8397,Nicholasville,95.0,Maribeth Yedwab,Home Office,0.09,1,30-12-2015,49344,Low,1,...,-745.20,South,6916,803.33,30-12-2015,Regular Air,24.49,Kentucky,832.81,40356
8398,Nicholasville,95.0,Maribeth Yedwab,Home Office,0.00,1,30-12-2015,49344,Low,31,...,27.85,South,6915,672.93,30-12-2015,Regular Air,4.00,Kentucky,19.98,40356

# Factorize

In [9]:
df['region_encoded'],region_index = df['Region'].factorize()
df

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code,region_encoded
0,McKeesport,NaN,Jessica Myrick,Small Business,0.10,1,01-01-2012,28774,High,32,...,East,4031,180.36,02-01-2012,Regular Air,4.69,Pennsylvania,5.98,15131,0
1,Bowie,NaN,Matt Collister,Home Office,0.08,1,01-01-2012,13729,Not Specified,9,...,East,1914,872.48,03-01-2012,Express Air,35.00,Maryland,95.99,20715,0
2,Napa,NaN,Alan Schoenberger,Corporate,0.00,1,02-01-2012,37537,Low,4,...,West,5272,1239.06,02-01-2012,Delivery Truck,48.80,California,291.73,94559,1
3,Montebello,NaN,Elizabeth Moffitt,Consumer,0.08,1,02-01-2012,44069,Critical,43,...,West,6225,614.80,02-01-2012,Regular Air,1.97,California,15.04,90640,1
4,Napa,NaN,Alan Schoenberger,Corporate,0.07,1,02-01-2012,37537,Low,43,...,West,5273,4083.19,04-01-2012,Delivery Truck,45.00,California,100.98,94559,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Fairfield,95.0,Tony Molinari,Corporate,0.10,1,30-12-2015,50950,Not Specified,35,...,West,7142,448.10,30-12-2015,Express Air,4.51,California,13.48,94533,1
8395,Harker Heights,95.0,Matt Hagelstein,Home Office,0.09,1,30-12-2015,25542,Low,37,...,Central,3583,257.46,30-12-2015,Express Air,4.23,Texas,7.28,76543,2
8396,Riverview,95.0,Theresa Swint,Consumer,0.10,1,30-12-2015,45127,Medium,10,...,South,6361,14.15,30-12-2015,Regular Air,0.70,Florida,1.48,33569,3
8397,Nicholasville,95.0,Maribeth Yedwab,Home Office,0.09,1,30-12-2015,49344,Low,1,...,South,6916,803.33,30-12-2015,Regular Air,24.49,Kentucky,832.81,40356,3
8398,Nicholasville,95.0,Maribeth Yedwab,Home Office,0.00,1,30-12-2015,49344,Low,31,...,South,6915,672.93,30-12-2015,Regular Air,4.00,Kentucky,19.98,40356,3

In [10]:
region_index

Index(['East', 'West', 'Central', 'South'], dtype='object')

In [11]:
df['Region'].iloc[6]

'Central'

In [12]:
region_index.get_indexer(['Central'])

array([2], dtype=int64)

In [13]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Create a sample dataframe with ordinal variables
df = pd.DataFrame({'color': ['red', 'green', 'blue', 'yellow'],
                   'size': ['small', 'medium', 'large', 'extra large']})

# Instantiate an OrdinalEncoder object
encoder = OrdinalEncoder()

# Fit and transform the ordinal variables
df[['color', 'size']] = encoder.fit_transform(df[['color', 'size']])

print(df)

   color  size
0    2.0   3.0
1    1.0   2.0
2    0.0   1.0
3    3.0   0.0